certifi==2023.11.17
charset-normalizer==3.3.2
idna==3.6
pytube==15.0.0
requests==2.31.0
scrapetube==2.5.1
typing_extensions==4.8.0
urllib3==2.1.0
fastapi>=0.68.0,<0.69.0
pydantic>=1.8.0,<2.0.0
uvicorn>=0.15.0,<0.16.0
pandas